/*--------------css reset---------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
/*table {border-collapse:collapse;border-spacing:0;}*/
fieldset,img {border:0;}
body,button,input,select,textarea {font-size:12px;font-family:"宋体" }
th {font-style:normal;font-weight:normal;}
ol, ul {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
a {text-decoration:none;}
abbr,acronym {border:0;font-variant:normal;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clear{clear:both;height:0;overflow:hidden;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix {display:inline-block;}* html .clearfix {height:1%;}.clearfix {display:block}
.of {overflow:hidden;}
/*--------------css reset---------------*/
body {background-color:#eee;}
.txt-center {text-align:center;}
/*--------------Top style---------------*/
.top-wrap-b {width:100%;background-color:#aaa;}
.top-wrap,.index-main,.footer {width:990px;margin:0 auto;}
.top-wrap {padding-bottom:12px;position:relative;background-color:#aaa;position:relative;}
.logo {margin-top:6px;}
.top-wrap .bar {position:absolute;right:2px;top:8px;}
.login {width:270px;border:1px #fff solid;margin-top:12px;}
.login label {line-height:22px;margin:0 20px;}
.login-inp {height:18px;line-height:18px;width:149px;padding:0 5px;float:left;}
.login-action {clear:left;padding-left:20px;}
#login-ipt {margin-right:82px;float:right;}
/*--------------Top style---------------*/
/*--------------Navigator style---------------*/
.nav {position:absolute;left:0;bottom:0;}
.nav-item {padding:0 12px;margin:0 8px;line-height:18px;background-color:#fff;display:inline;float:left;}
/*--------------Navigator style---------------*/
/*--------------Main style---------------*/
.index-main {padding-top:16px;}
.main-l {width:698px;}
.brief-info {line-height:24px;margin-bottom:16px;background-color:#fff;}
.charts {height:300px;background-color:#000;}
.pay-bill,.sell-bill {width:330px;margin:20px 0px;float:left;display:inline;background-color:#fff;}
.pay-bill {margin-right:38px;}
.tb-body {height:200px;overflow:hidden;}
.tb-parent {height:217px;overflow:scroll;}
.trans-data {background-color:#fff;}
.main-r {width:286px;}
.aside-lump {margin-bottom:16px;background-color:#fff;}
.col1,.col2 {width:80px;float:left;}
.col2 input {width:60px;}
.lump-head {font-size:13px;border-bottom:1px #000 solid;line-height:22px;margin:0 10px;}
.main-r-tb {width:268px;table-layout:fixed;text-align:left;}
.tb-rate {width:80px;}
/*--------------Main style---------------*/
/*--------------Footer style---------------*/
.site-tail {padding:16px 0;}
.site-tail ul.fr {border-right:1px #000 solid;}
.site-tail li {display:inline;float:left;border-left:1px #000 solid;line-height:14px;padding:0 1em;}
.copyright {text-align:left;border-top:1px #000 solid;padding:12px 0;}
/*--------------Footer style---------------*/